<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<menu_color>0x221f19</menu_color>
	<main_menu_color>0x647891</main_menu_color>
	<intro_menu_color>0xccb899</intro_menu_color>
	<clues_menu_color>0x984d3a</clues_menu_color>
	<menu_border>0x464f63</menu_border>
	<menu_border_enabled>false</menu_border_enabled>
	<menu_opacity>0.7</menu_opacity>
	<text_format name="title">
		<size>30</size>
		<color>0x1a1b1f</color>
		<bold>true</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="alt_title">
		<size>28</size>
		<color>0xFFFFFF</color>
		<bold>true</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="body">
		<size>18</size>
		<color>0xFFFFFF</color>
		<bold>false</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="intro">
		<size>17</size>
		<color>0x1a1b1f</color>
		<bold>false</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="alt_intro">
		<size>24</size>
		<color>0x1a1b1f</color>
		<bold>true</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="caption">
		<size>26</size>
		<color>0x78942e</color>
		<bold>false</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="sub_caption">
		<size>16</size>
		<color>0xccb899</color>
		<bold>false</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="info">
		<size>16</size>
		<color>0xFFFFFF</color>
		<bold>false</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="text_button">
		<size>30</size>
		<color>null</color>
		<bold>true</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="link_usable">
		<size>17</size>
		<color>null</color>
		<bold>false</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="link_unusable">
		<size>17</size>
		<color>0x9c9c9c</color>
		<bold>false</bold>
		<italic>false</italic>
	</text_format>
	<text_format name="link_accentuated">
		<size>20</size>
		<color>null</color>
		<bold>true</bold>
		<italic>false</italic>
	</text_format>
	<up_color>0xE5E5E5</up_color>
	<over_color>0xccb899</over_color>
	<down_color>0x8c7f69</down_color>
</Menu>
